@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');

$font-primary: ('Baloo 2', sans-serif);
// $stripes: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221440%22%20height%3D%22680%22%20xmlns%3Av%3D%22https%3A%2F%2Fvecta.io%2Fnano%22%3E%3Cdefs%3E%3Cpath%20id%3D%22A%22%20d%3D%22M0%200h1440v680H0z%22%2F%3E%3Cpath%20id%3D%22B%22%20d%3D%22M21.98%20650.635l1878.834.142.007%2093.592-1878.834-.142z%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill-rule%3D%22evenodd%22%3E%3Cmask%20id%3D%22C%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23A%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url%28%23C%29%22%20fill%3D%22%23fc0%22%20fill-rule%3D%22nonzero%22%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1776.620316%20807.106544%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%22263.688%22%20y%3D%220.012%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1699.396746%20993.565499%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%22527.386%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1622.152876%201180.024455%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%22791.074%22%20y%3D%220.012%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1544.929306%201366.483409%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%221054.771%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1467.685436%201552.942365%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%221318.459%22%20y%3D%220.012%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1390.461866%201739.40132%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%221582.157%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1313.217996%201925.860276%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%221845.844%22%20y%3D%220.013%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1235.994426%202112.31923%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%222109.542%22%20y%3D%220.001%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1158.750556%202298.778186%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%222373.23%22%20y%3D%220.013%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1081.526986%202485.237141%29%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23B%22%20x%3D%222636.928%22%20y%3D%220.001%22%20transform%3D%22matrix%28.707107%20-.707107%20.707107%20.707107%20-1004.283116%202671.696097%29%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
$stripes: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221440%22%20height%3D%22680%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h1440v680H0z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M22%20651h1879v93H22z%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill-rule%3D%22evenodd%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23b)%22%20fill%3D%22%23fc0%22%20fill-rule%3D%22nonzero%22%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22rotate(-45%2086%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%22264%22%20transform%3D%22rotate(-45%20350%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%22527%22%20transform%3D%22rotate(-45%20613%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%22791%22%20transform%3D%22rotate(-45%20877%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%221055%22%20transform%3D%22rotate(-45%201141%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%221319%22%20transform%3D%22rotate(-45%201404%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%221582%22%20transform%3D%22rotate(-45%201668%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%221846%22%20transform%3D%22rotate(-45%201932%202548)%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20x%3D%222110%22%20transform%3D%22rotate(-45%202195%202548)%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');

$fonts: $font-primary;
$weights: 400, 500, 600;
// $sizes: 7em, 4em, 3em, 2em;
$sizes: 7em, 4em, 3em, 2em;

$footer-height: 6.244672em;

// @for $font_i from 1 through length($fonts) {
//  $font: nth($fonts, $font_i);
//  @each $weight in $weights {
//      .f#{$font_i}-w#{$weight} {
//          font-weight: $weight;
//          font-family: $font;
//      }
//      @for $size_i from 1 through length($sizes) {
//          $size: nth($sizes, $size_i);
//          .s#{$size_i} {
//              font-size: $size;
//          }
//          .f#{$font_i}-w#{$weight}-s#{$size_i} {
//              font-weight: $weight;
//              font-family: $font;
//              font-size: $size;
//          }
//          .w#{$weight}-s#{$size_i} {
//              font-weight: $weight;
//              font-size: $size;
//          }
//          .f#{$font_i}-s#{$size_i} {
//              font-family: $font;
//              font-size: $size;
//          }
//      }
//  }
//  .f#{$font_i} {
//      font-family: $font;
//  }
// }

@for $i from 1 through length($fonts) {
    $font: nth($fonts, $i);
    .f-#{$i} {
        font-family: $font;
    }
}

@each $weight in $weights {
    .w-#{$weight} {
        font-weight: $weight;
    }
}

@for $b from 1 through length($sizes) {
    $size: nth($sizes, $b);
    .s-#{$b} {
        font-size: $size;
    }
}

body {
    background: $stripes no-repeat fixed top/cover;
}

.z {
    margin: 0;
}

.c {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
}

.push {
    height: $footer-height;
}

$global-scale: 0.8;

$clock-scale: 1 * $global-scale;
$hero-scale: 0.8 * $global-scale;
$subtitle-scale: 0.9 * $global-scale;
$footer-scale: 1.4 * $global-scale;
$border-scale: 1 * $global-scale;

$clock-size: 13vmin * $clock-scale;
$hero-size: 12vmin * $hero-scale;
$subtitle-size: 8vmin * $subtitle-scale;
$footer-size: 1em * $footer-scale;
$line-height-hero: 1.1em;

.hero {
    @extend .c, .f-1, .w-500, .z;
    font-size: $hero-size;
    line-height: $line-height-hero;
}
.hero.small {
    @extend .c, .f-1, .w-500, .z;
    font-size: $hero-size*0.9;
}

.clock {
    @extend .w-600, .f-1, .z, .c;
    font-size: $clock-size;
    margin-top: -($clock-size*0.23);
}
.clock.small {
    @extend .w-600, .f-1, .z, .c;
    font-size: $clock-size*0.7;
    // margin-top: -(($clock-size*0.7)*0.23);
    margin-top: unset;
    margin-bottom: unset;
}

.subtitle {
    @extend .c, .w-400, .f-1, .z;
    font-size: $subtitle-size;
    margin-top: -($subtitle-size*0.5);
}
.subtitle.small {
    @extend .c, .w-400, .f-1, .z;
    font-size: $subtitle-size*0.75;
    margin-top: -(($subtitle-size*0.75)*0.5);
}

.footer {
    @extend .f-1, .w-500, .c;
    font-size: $footer-size;
}

.footer > p {
    padding: 0px $footer-size;
}

.countdown-card {
    background-color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vmin;
    padding: (1vmax * $border-scale);
    border: solid #000 (1vmax * $border-scale);
}